@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@300;400&display=swap');

//Font Weight
.font-weight-light   { font-weight: $font-weight-light !important; }
.font-weight-medium   { font-weight: $font-weight-medium !important; }

body{
    //navbar 設定固定於上方，加入內距避免內容被遮住
    padding-top: 55px; 
    color: $primary;
    line-height: 1.5;
}
//變數
:root{
    --navbar-height: 55px;
}



//----------------Form
//Input 、Button
input{
    // border:1px solid transparent;
    &:focus{
        outline: none;
    }
}

button{
    border: 1px solid transparent;
    &:focus{
        outline: none;
    }
}

//a
a{
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
}
ol, ul {
    list-style: none;
    padding: 0;
}
//images 
.img-cover{
    object-fit: cover;
    object-position: center center;
    max-width: 100%;
    height: auto;
}
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}