// Font-size
@each $breakpoint in map-keys($grid-breakpoints) {    
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $size, $value in $font-size {
            .text#{$infix}-#{$size} {
                font-size: $value !important;
            }
        }        
    }
}


@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            .w#{$infix}-20   { width: 20% !important; }
            .w#{$infix}-30   { width: 30% !important; }
            .w#{$infix}-40   { width: 40% !important; }
            .w#{$infix}-48   { width: 48% !important; }
            .w#{$infix}-50   { width: 50% !important; }
            .w#{$infix}-60   { width: 60% !important; }
            .w#{$infix}-70   { width: 70% !important; }
            .w#{$infix}-80   { width: 80% !important; }
            .w#{$infix}-90   { width: 90% !important; }
            .w#{$infix}-100  { width: 100% !important; }
    }
}
// Card 
//讓文字垂直置中於圖片上
.card-img-textoverlay{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    white-space: nowrap;
}


// Border
$border-width-sm: 2px !default;

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            .border#{$infix}-sm { 
                border: $border-width-sm solid $border-color !important; 
            }
            .border#{$infix}-top-sm { 
                border-top: $border-width-sm solid $border-color !important; 
            }
            .border#{$infix}-right-sm { 
                border-right: $border-width-sm solid $border-color !important; 
            }
            .border#{$infix}-bottom-sm { 
                border-bottom: $border-width-sm solid $border-color !important; 
            }
            .border#{$infix}-left-sm { 
                border-left: $border-width-sm solid $border-color !important; 
            }

            .text#{$infix}-decoration {
                text-decoration: underline;
            }
    }
}
// Line height
$line-height-base: 1rem;
$line-height: () !default;
$line-height: map-merge(
(
    'sm': ($line-height-base * 1.3125),
    'base': $line-height-base,
    'lg': ($line-height-base * 1.875),
    'xl' :($line-height-base * 2.25),
    '2xl': ($line-height-base * 2.625),
    '3xl': ($line-height-base * 3),
    '4xl':($line-height-base * 3.75),
    '5xl':($line-height-base * 4.5),
),
$line-height
);

@each $breakpoint in map-keys($grid-breakpoints) {    
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $size, $value in $line-height {
        .leading#{$infix}-#{$size} {
            line-height: $value !important;
        }
    }        
}
}

//position : sticky |top|left|right|bottom

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            .sticky#{$infix}-top   { 
                position: sticky !important;
                top: 0 ;
                z-index: 1020 !important;
            }
            .position#{$infix}-relative{position: relative !important;}
            .position#{$infix}-absolute{position: absolute !important;}

            .top#{$infix}-0    { top: 0px !important; }
            .top#{$infix}-15   { top: 80px !important; }
            .bottom#{$infix}-0  { bottom: 0px !important; }
            .bottom#{$infix}-8  { bottom: 30px !important; }
            .left#{$infix}-0   { left: 0px !important; }
            .right#{$infix}-0  { right: 0px !important; }
    }
}
