//images
.img-cover{
    object-fit: cover;
    object-position: center center;
    max-width: 100%;
    height: auto;
}
.bg-cover{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
//視窗高度滿版 ( 扣除 navbar )
.windows-100vh{
    height: calc(100vh - var(--navbar-height));
}


// 背景圖遮罩
.bg-mask{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    filter:brightness(50%);
    z-index: 998;
    transition: all .5s;
    &:hover{
        filter: none;
    }
}
//shandow
.shadow-md{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

//hover
.hover{
    &-shandow-sm{
        &:hover{
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        }
    }
}
