input{
    &[type="checkbox"]:checked+div{
        border: 3px solid $secondary;
        border-radius: 0.25rem; 
        &>i{
            color:$warning;
        }   
        &>p{
            color:$primary;
        }    
    }
}