<li class="nav-item mr-2sm-11">
    <div class="dropdown">
        <a class="dropdown-toggle nav-link text-primary text-center py-3 py-2sm-2" href="#" data-toggle="dropdown">Hi, Joanne</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-primary" href="#">會員資料</a>
            <a class="dropdown-item text-primary" href="#">預約查詢</a>
            <a class="dropdown-item text-primary" href="#">歷史預約</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-secondary" href="#">切換保姆帳號</a>
        </div>
    </div>
</li>