.payline{
    &-item{        
        position: relative;
        width: 100%;
        text-align:center;
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            background-color: $secondary;
            height: 2px;
            top:-5px;
            left: 50%;
            transform: translateX( -50%);
        }
        &::after{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            background-color: $secondary;
            border-radius: 50%;
            top:-8px;
            z-index: 10;
            left: 50%;
            transform: translateX( -50%);
        }
    }
}